
$main-color: #F2F3F4;
$header-color: white;
$notice-color: #468847;
$alert-color: #b94a48;
$alert-border-color: #eed3d7;
$notice-border-color: #d6e9c6;
$notice-bg-color: #dff0d8;
$alert-bg-color: #f2dede;
$nested-form-bg-color: #EAECEE;
$back-btn-color: #555555;
$back-btn-hover: #212121;
$black: black;
$white: white;
$red: red;
$green: green;
$header-hover-color: #20c997;
$flash-border-color: #fbeed5;
$error-bg-color: #f0f0f0;