
@mixin notice {
  background-color: $notice-bg-color;
  border-color: $notice-border-color;
  color: $notice-color;
}

@mixin alert {
  background-color: $alert-bg-color;
  border-color: $alert-border-color;
  color: $alert-color;
}

@mixin hover($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
}

@mixin border($color, $width){
  border: $width solid $color;
}

@mixin button{
  background-color: transparent;
  border: 1px solid transparent;
  color: $white;
  padding: .375rem .75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: .25rem;
  font-size: 1rem;
}