
  <div class="row">
    <div class="col-md-12" id="js-show-attachment">
    </div>
  </div>
      <hr>
  <div class="row">
      <%= render 'all_attachments', locals: { attachments: @attachments} %>
  </div>

