<h1> Add New Attachment </h1>
<div class="authform">
	<%= render partial: 'form', locals: { attachment: @attachment } %>
</div>
<br>
<div><%= link_to 'Back', attachments_path, class: 'back-btn' %></div>